.contact{
    padding: 100px 0px;
    background-color: rgb(246, 246, 246);
    display: flex;
    justify-content: center;
    align-items: center;
    gap:50px;
}
.contact1-1{
    padding: 50px;
    display: grid;
    gap:20px;
    border-radius: 10px;
    color: black;
    border-radius: 5px;
    background-color: white;
    height: 500px;
  }
  .contact1-1 input,.contact1-1 textarea{
    width: 450px;
    padding-left: 20px;
    border-radius: 5px;
  }
  .contact1-1 input{
    height: 50px;
  }
  .contact1-1 button{
    width: 350px;
    height: 60px;
    background-color:bisque;
    border-radius: 5px;
    border: none;
  }
  button:hover{
    background-color: rgb(250, 220, 183)
  }
.contact2 h3{
    padding-bottom: 30px;
}
  .contact2{
    padding: 60px;
    height: 500px;
    background-color: white;
    border: 10px;
  
  }
 
  @media only screen and (min-width:420px) and (max-width:799px){
    .contact{
      flex-wrap: wrap;
    }
    .contact1-1 input,.contact1-1 textarea{
      width: 300px;
      padding-left: 20px;
      border-radius: 5px;
    }
    .contact1-1 button{
      width: 300px;
    }
    .contact2{
      padding: 20px;
    }
  }
  @media only screen and (min-width:800px) and (max-width:1150px){
     .contact1-1 input,.contact1-1 textarea{
      width: 250px;
      padding-left: 20px;
      border-radius: 5px;
    }
    .contact1-1 button{
      width: 250px;
    }
    .contact2{
      padding: 20px;
    }
    .contact{
      gap:20px;
    }
  }
  @media only screen and (max-width:420px){
    .contact{
      flex-wrap: wrap;
    }
    .contact1-1{
      padding: 20px;
      gap:1px;
     }
    .contact1-1 input,.contact1-1 textarea{
      width: 200px;
      height: 40px;
      padding-left: 10px;
      border-radius: 5px;
    }
    .contact1-1 button{
      width: 200px;
    }
    .contact2{
      padding: 10px;
      width: 250px;
    }
  }